
.vs/Swallow_Test/FileContentIndex/3eaccd32-5edf-407f-aa2f-6ba5670c8094.vsidx
.vs/Swallow_Test/FileContentIndex/60ec8d3c-8b9c-41bf-b4ae-d2a199b35d51.vsidx
.vs/Swallow_Test/FileContentIndex/8e49e0fd-3d2d-41bc-ae46-2c7065267550.vsidx
.vs/Swallow_Test/FileContentIndex/92a4f530-3ef7-470e-9a13-abbaf0115acb.vsidx
.vs/Swallow_Test/FileContentIndex/read.lock
.vs/Swallow_Test/v17/.suo
.vs/Swallow_Test/v17/fileList.bin
